<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>

    <!-- Titulo -->
    <title>Calculadora | Django </title>

    <!-- script -->
    <script type="text/javascript" src="{% static 'assets/javascript/script.js' %}"></script>

    <!-- SEO TAGS -->
    <meta name="description"
        content="Calculadora em Django" />
    <!-- FONT ROBOTO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />

    <!-- STYLE CSS -->
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- Calculadora -->
    <div class="calculator">
        <!-- Tela -->

        {% block content %}
        <div class="display">
            <p id="resultado"></p>
        </div>
        {% endblock %}

        <!-- Botões -->
        {% csrf_token %}
        <div class="row">
            <button class="button purple-text" onclick="clean()">AC</button>
            <div></div>
            <div></div>
            <button class="button gray" onclick="insert('/')">/</button>
        </div>

        <div class="row">
            <button class="button" onclick="insert('7')">7</button>
            <button class="button" onclick="insert('8')">8</button>
            <button class="button" onclick="insert('9')">9</button>
            <button class="button gray" onclick="insert('*')">*</button>
        </div>

        <div class="row">
            <button class="button" onclick="insert('4')">4</button>
            <button class="button" onclick="insert('5')">5</button>
            <button class="button" onclick="insert('6')">6</button>
            <button class="button gray" onclick="insert('-')">-</button>
        </div>

        <div class="row">
            <button class="button" onclick="insert('1')">1</button>
            <button class="button" onclick="insert('2')">2</button>
            <button class="button" onclick="insert('3')">3</button>
            <button class="button gray" onclick="insert('+')">+</button>
        </div>

        <div class="row">
            <div></div>
            <button class="button" onclick="insert('0')">0</button>
            <button class="button" onclick="insert('.')">.</button>
            <button class="button purple" onclick="calcular()">=</button>
        </div>
        <!-- BUTTONS/> -->
    </div>
</body>

</html>
